.btn{
  text-decoration: none;
  color:black;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: white;
  text-transform: uppercase;
  border: 2.5px solid black;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top:auto;
  align-self: center;
  cursor:pointer;
}